      <footer>
        <div class="row">
        	<div class="large-12 columns">
                <p class="text-center">
                <a href="{{ site.url }}/feed.xml">Feed</a>
                    &nbsp;-&nbsp;Copyright&nbsp;<script type="text/javascript"> var theDate=new Date(); document.write(theDate.getFullYear()); </script>&nbsp;- All Right Reserved
                    &nbsp;-&nbsp;<a href="{{ site.url }}/sitemap.xml">Sitemap</a>
                </p>
        	</div>
        </div>
      </footer>
