<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="{{ site.url }}/">{{ site.name }}<em class="show-for-medium-up">&nbsp;&nbsp;-&nbsp;&nbsp;{{ site.description }}</em></a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="{{ site.url }}/about">about</a></li>
        <li class="has-dropdown">
          <a href="#">recent</a>
          <ul class="dropdown">
            {% for post in site.posts limit:5 %}
            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>

    </section>
  </nav>
</div>
