    <!-- build:js /js/vendor.min.js -->
    <script type="text/javascript" src="/_bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/_bower_components/foundation/js/foundation.js"></script>
    <!-- TODO: Cut down foundation script calls -->
    <script type="text/javascript" src="/_bower_components/fastclick/lib/fastclick.js"></script>
    <script type="text/javascript" src="/_bower_components/jquery.cookie/jquery.cookie.js"></script>
    <!-- <script type="text/javascript" src="/_bower_components/jquery-placeholder/jquery.placeholder.js"></script> -->
    <!-- endbuild -->

    <!-- build:js /js/browser-detect.min.js -->
    <!-- Browser detection -->
    <script type="text/javascript" src="/js/vendor/browser-detection.js"></script>
    <!-- endbuild -->
    
    <!-- build:js /js/app.min.js -->
    <script type="text/javascript" src="/js/app.js"></script>
    <!-- endbuild -->

    <!-- Analytics -->
    {% include analytics.html %}
